* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 100%;

  background: #222;
}
.swiper {
  width: 100%;

  background: radial-gradient(at top right, #0b1682, #4d57bf);
}
.swiper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide > .slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20% auto;
  color: white;
  font-size: 20px;
  line-height: 30px;
  gap: 40px;
  text-align: center;
  padding: 0 20px;
}
.swiper-slide .slider3 {
  margin: 10% auto;
}
.slider--text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
.slider a {
  color: #fff;
}
.slider > p {
  color: rgba(255, 255, 255, 0.75);
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}
.swiper .swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
}
.swiper .swiper-button-next {
  position: absolute;
  top: 87%;
  right: 5%;
}
.swiper .swiper-button-prev {
  top: 87%;
  left: 5%;
}
.swiper-button--btn {
  font-size: 20px;
  color: #fff;

  line-height: 31px;
}

.sign_in--btn {
  width: 207px;
  height: 50px;
  background-color: #fb640d;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  border: #222;
  line-height: 158%;
  letter-spacing: 1%;
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
}
.sign_in--btn:hover:active {
  background-color: #cd5713;
}
@media screen and (min-width: 1200px) {
  .container {
    display: flex;
  }
  .sign-up {
    width: 50%;
    background-color: #fff;
  }
  .swiper {
    width: 50%;
  }
  .slider--text {
    width: 350px;
  }
  .swiper-button--btn {
    display: none;
  }
}
